/*
	This file is a part of Pixel Art to Vector (https://github.com/hilde801/pixel-art-to-vector)
	Copyright 2022 Hilder Gill (hilde801) <hildergill@gmail.com>
*/

.tasksListItem > .filename {
	font-weight: bold;
}

.tasksListItem > .errorsList {
	list-style: none;
	margin-top: 0.5rem;
	margin-left: 0.5rem;
}

.tasksListItem > .errorsList > * {
	font-size: 10pt;
}
