* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	color-scheme: light dark;
	font-family: sans-serif;
	line-height: 1.5;
}

#root {
	width: 30rem;
	margin: 0 auto;
	padding: 1rem 0;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}
